<div  [@fade] class="user-details-container">
    <h2>User Details</h2>
    
    <div class="user-details">
      <div class="user-avatar">
        <img [src]="user.avatar" alt="User Avatar">
      </div>
      <div class="user-info">
        <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>
    </div>
    <button (click)="goBack()">Go Back</button>
  </div>
  