.user-details-container {
    text-align: center;
    padding: 20px;
  }
  h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
  .user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .user-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .user-info p {
    font-size: 18px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  