<header>
  <h2>User List</h2>
</header>

<div class="search-container">
  <input
    type="number"
    placeholder="Enter User ID"
    [(ngModel)]="searchUserId"
    (input)="onSearch()"
  />
  <button (click)="onSearch()">Search</button>
</div>

<div class="user-list-container">
  <ul class="user-list">
    <li *ngFor="let user of displayedUsers" (click)="navigateToUserDetails(user.id)" [@fadeInOut]>
      <img [src]="user.avatar" alt="User Avatar" />
      <div class="user-details">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </li>
  </ul>

  <div class="pagination" [class.visible]="showPagination">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" >
      Previous
    </button>

    <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" >
      Next
    </button>
  </div>
</div>
