header {
    text-align: center;
    margin-top: 2rem;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .search-container input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .user-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    margin: 2rem auto;
  }
  
  .user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-list li {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    transition: transform 0.2s ease-in-out; /* Add a transition for the hover effect */
  }
  
  .user-list li:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  
  .user-list li img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .user-details {
    text-align: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(100%);
  }
  
  .pagination.visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
  }
  
  .pagination button {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .pagination button:hover {
    background-color: #0069d9;
    transform: scale(1.1);
  }
  
  .pagination button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  